img{
max-width:100%;
image-rendering:optimizeQuality;}

.navigation_diapo{
list-style:none;
overflow-x:auto;
display:flex;
width: 500px;}


.navigation_diapo li img{
pointer-events:auto;
transition:.6s}
.navigation_diapo li img:hover{box-shadow:0 0 5px hsla(0,0%,0%,.4)}

.navigation_diapo li a{
width:120px;
margin:0 5px;
height:80px;
display: inline-block;}

