/* Gallery */
/* --------------------------- */
#gallery 
{
	padding: 3.5em;
	min-height: 37em;
}
	#gallery header h1 
	{
	    font-size: 2em;
	}
	#gallery #content 
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
		#gallery #content .media 
		{
			/*--------------*/
			margin-bottom: 0;
			overflow: hidden;
			margin: 0px 0px 7px 5px;
			padding: 0px 0px 0px 0px;
		}
			#gallery #content .media img 
			{
				/*--------------*/
				width: 300px;
			}
				#gallery #content .media .underImg
				{
					display: flex;
					justify-content: space-around;
					margin: 0px 0px 5px 0px;
					padding: 3px 0px 2px 0px;
				}
					.details
					{
						
					}

					.underImg a 
					{
						text-decoration: none;
					}

					.like
					{
						border: 1px solid white;
						color: red;
					}

					.like
					{
						/*animation: slidein 0.5s infinite;*/
					}

					.comments
					{
						color: black;
					}
	#nbPage 
	{
		margin-top: 10px;
		padding-top: 2px;
		border-top: 1px solid grey;
		margin: auto;
		text-align: center;
	}
/* -Gallery-------------------- */

/* Modal */
/* --------------------------- */
:root 
{
	--modal-duration: 1s;
	--modal-color: black;
}

.modal 
{
	display: none;
	position: fixed;
	overflow-y: auto;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content 
{
	margin: 10% auto;
	width: 80%;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
	animation-name: modalopen;
	animation-duration: var(--modal-duration);
	word-wrap: break-word;
}

.modal-header h2,
.modal-footer h3 
{
	margin: 0;
}

.modal-header 
{
	background: rgb(41, 45, 56);
	padding: 15px;
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.modal-body 
{
	padding: 10px 20px;
		box-shadow: 3px 3px 10px #333;
	padding: 15px;
	background: #ecf0f1;
}

.modal-body img 
{
	width: 100%;
}
	hr 
	{
	    border: 0;
	    height: 1px;
	    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	}

	.add-cmt
	{
		display: flex;
	}

	.add-cmt textarea
	{ 
		margin-left: 2%;
		margin-right: 2%;
		width: 80%;
	}

	.cmt-button 
	{
		width: auto;
		margin-left: 0%;
		border-radius: 5px;
		background: #e74c3c;
		border:none;
		color: white;
		cursor: pointer;
	}

	.cmt-button:hover 
	{
		box-shadow: 1px 1px 5px #555;  
	}
	  
	.cmt-button:active 
	{
		box-shadow: 1px 1px 7px #222;  
	}

	.cmt-content
	{
		margin-top: 10px;
	}

	.cmt
	{
		margin-left: 10px;
	}

	.cmt-date
	{
		font-size: 0.7em;
	}

.modal-footer 
{
	background: var(--modal-color);
	padding: 1px;
	color: #fff;
	text-align: center;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.close 
{
	color: #ccc;
	float: right;
	font-size: 30px;
	color: #fff;
}
	.close:hover, .close:focus 
	{
		text-decoration: none;
		cursor: pointer;
	}

@keyframes modalopen 
{
	from 
	{
		opacity: 0;
	}
	to 
	{
		opacity: 1;
	}
}   
/* -Modal--------------------- */