/* Gallery */

#gallery 
{
	padding: 3.5em;
	min-height: 37em;
}
	#gallery header h1 
	{
	    font-size: 2em;
	}
	#gallery #content 
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
		#gallery #content .media 
		{
			/*--------------*/
			margin-bottom: 0;
			overflow: hidden;
			margin: 0px 0px 7px 0px;
			padding: 0px 0px 0px 0px;
		}
			#gallery #content .media img 
			{
				/*--------------*/
				width: 300px;
				height: 300px;
			}
				#gallery #content .media .underImg
				{
					display: flex;
					justify-content: space-around;
					margin: 0px 0px 5px 0px;
					padding: 3px 0px 2px 0px;
				}
					.details
					{
						
					}

					.underImg a 
					{
						text-decoration: none;
					}

					.like
					{
						border: 1px solid white;
						color: red;
					}

					.like
					{
						/*animation: slidein 0.5s infinite;*/
					}

					.comments
					{
						color: black;
					}
#nbPage 
{
	margin-top: 10px;
	padding-top: 2px;
	border-top: 1px solid grey;
	margin: auto;
	text-align: center;
}

/* Modal */
	.backdrop 
	{
	    display: none;
	    position: fixed;
	    background: rgba(0, 0, 0, 0.5);
	    top: 0;
	    height: 100vh;
	    width: 100vw;
	    z-index: 1;
	}

	.modal 
	{
	    display: none;
	    position: fixed;
	    background: white;
	    padding: 10px;
	    width: 260px;
	    top: 100px;
	    left: calc(50% - 140px);
	    z-index: 1;    
	}

	@media (min-width: 400px) 
	{
	    .modal 
	    {
	        width: 360px;
	        left: calc(50% - 190px);
	    }
	}
