img
{
	max-width:100%;
	image-rendering:optimizeQuality;
}

#montage-wrap
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin-left: 7px;
	border: 1px solid black;
}
	#camera 
	{
		display: flex;
		flex-direction: column;
		width: auto;
	}

	#canvas
	{
		margin-bottom: 7px;
	}

	.navigation_diapo
	{
		list-style:none;
		overflow-x: auto;
		width: 450px;
		height: 250px;
		display:flex;
		flex-wrap: wrap;
	}

	.navigation_diapo li img
	{
		pointer-events:auto;
		transition:.6s
	}

	.navigation_diapo li img:hover
	{
		box-shadow:0 0 5px hsla(0,0%,0%,.4);
	}

	.navigation_diapo li a
	{
		width:120px;
		margin:0 5px;
		height:80px;
		display: inline-block;
	}

/*Delete Photo*/

#myImages
{
	display:flex;
	flex-direction: column;
	height: 85vh;
	width: 315px;
	overflow-y: auto;
	border: 1px solid black;
}

	#myImages img 
	{
		margin-left: 10px;
		min-width: 150px;
		max-width: 300px;
	}

	.container 
	{
		position: relative;
	}

	.container .btn 
	{
		opacity: 0.3;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: white;
		font-style: normal;
		font-size: 16px;
		padding: 12px 24px;  
		border: solid 2px white;
		cursor: pointer;
		border-radius: 5px;
		text-align: center;
		background-color: rgba(0,0,0,.2);
		transition: opacity .3s ease;
	}

	.container:hover .btn
	{
		opacity: 1;
	}

	.take
	{
		margin-bottom: 0.5em;
	}

	#filter-qte
	{
		width: 80%;
		margin: auto;
		display: flex;
		justify-content: space-around;
	}
		#addfiltre, #nofiltre
		{
			margin: 0; /*reset*/
			background-color: rgb(30, 100, 255);
		}
		#addfiltre
		{
			margin-right: 10%;
		}

@media screen and (max-width: 940px) 
{
	#content 
	{
		flex-direction: column;
	}

	#addfiltre, #nofiltre, .take
	{
		font-size: 1em;
	}

	.navigation_diapo
	{ 
		list-style:none;
		overflow-x: auto;
		width: 350px;
		height: 200px;
		display:flex;
		flex-wrap: wrap;
	}

	.navigation_diapo li a
	{
		width:100px;
		margin:0 2px;
		height:60px;
		display: inline-block;
	}
}