/* Reset */
	html, body, div, header, nav, footer
	{
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
	}
	
	body 
	{ 
		display: flex; 
		font-size: 0.9em;
		font-family: "Futura PT", "Futura", "Helvetica", "Sans serif";
		color: #2c2c34;
	}

/* Menu */

	#nav 
	{
		display: flex;
		background: rgb(41, 45, 56);
		width: 5em;
		padding-top: 2em;
	}

	#nav ul 
	{
		list-style: none;
		margin: 0;
		padding: 0;
	}

	#nav ul li 
	{
		padding: 0;
		width: 5em;
		text-align: center;
		margin-bottom: 2em;
	}

	#logo
	{
		color: white;
		margin-bottom: 10%;
		font-size: 3em;
		background: linear-gradient(330deg, #e05252 10%, #99e052 50%, #52e0e0 50%, #9952e0 75%, #e05252 50%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	#nav ul li a 
	{
		color: rgba(255, 255, 255, 0.5);
		text-decoration: none;
		font-size: 1.5em;
	}

	#nav ul li a:hover 
	{
		color: white;
	}

	#nav ul li a.active 
	{
		color: #19B5FE;
	}

/* Main Page*/

	#main-page
	{
		display: flex;
		flex-direction: column;
		flex-grow:1;
		min-height:100vh;
	}

/* Header */

	#header
	{
		background: #f2f2f2;
		text-align: center;
	}

/* Content */

	#content
	{
		flex-grow:1;
		display: flex;
		justify-content: center;
		align-items: center;
	}

/* Footer */

	#footer 
	{
		padding: 2em 0 2em 0em;
		background: #f2f2f2;
	}

	#footer .copyright 
	{
		color: #bfbfbf;
		font-size: 0.9em;
		text-align: center;
	}
/*
    body:after
    {
		content:'';
		position:absolute;
		bottom: 0;
		left: 0;
		right: 0;    
		background:-webkit-linear-gradient(left,               
		    #27ae60 0%, #27ae60 20%, 
		    #8e44ad 20%, #8e44ad 40%,
		    #3498db 40%, #3498db 60%,
		    #e74c3c 60%, #e74c3c 80%,
		    #f1c40f 80%, #f1c40f 100%
		    );
		   background:-moz-linear-gradient(left,               
		    #27ae60 0%, #27ae60 20%, 
		    #8e44ad 20%, #8e44ad 40%,
		    #3498db 40%, #3498db 60%,
		    #e74c3c 60%, #e74c3c 80%,
		    #f1c40f 80%, #f1c40f 100%
		    );
		  height: 5px;
		  border-radius: 5px 5px 0 0;
  	}
*/
	@media screen and (max-width: 736px) 
	{/*
		#nav ul li 
		{
			width: 4.4em;
		}
*/
		#footer 
		{
			padding: 1em 0 1em 0;
		}
	}

/* Montage Video */

#video { display:none!important; }

/* Manage.php */

#notifications td:first-child
{
	width: 80%;
}

/*-----------------Connexion Page----------------------------*/

#manage-wrap
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.form-wrap
{
	background: #ecf0f1;
	max-width: 350px;
	min-width: 200px;
	border-radius: 5%; /* Connexion 25%*/
	box-shadow: 3px 3px 10px #333;
	padding: 15px;
}

#manage-wrap section
{
	margin: 10px;	
}

.notif-wrap
{
	width: auto;

}

.form-heading
{
	text-align: center;
	font-weight: 200;
	font-size: 2em;
	margin-top: 10px;
	color: #34495e;
}

.form 
{
	padding-top: 20px;
}

.form-wrap input,
.form-wrap button 
{
	width: 80%;
	margin-left: 10%;
	margin-bottom: 25px;
	height: 40px;
	border-radius: 5px;
	outline: 0;
	-moz-outline-style: none;
}

.form-wrap input 
{
	border: 1px solid #bbb;
	padding: 0 0 0 10px;
	font-size: 14px;
}

.form-wrap input:focus 
{
	 border: 1px solid #3498db;
}

.form-wrap a 
{
	text-align: center;
	font-size: 10px;
	color: #3498db;
}
.form-wrap p
{
	padding-bottom: 10px;
}

.form-wrap button 
{
	background: #e74c3c;
	border:none;
	color: white;
	font-size: 18px;
	font-weight: 200;
	cursor: pointer;
	transition: box-shadow .4s ease;
}

.form-wrap > button:hover 
{
	box-shadow: 1px 1px 5px #555;  
}
  
.form-wrap button:active 
{
	box-shadow: 1px 1px 7px #222;  
}

#error, #success, .error
{
	text-align: center;
}

#error, .error
{
	color: #e74c3c;
}

#success
{
	color: green;
}